<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="container text-center">
    <h1>Enter to register</h1>
    <form th:action="@{/register}" th:object="${user}"
          method="post">
        <div class="form-group row">
            <label class="col-4 col-form-label">Username </label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{username}" required />
            </div>

            <label class="col-4 col-form-label">Password </label>
            <div class="col-8">
                <input type="password" class="form-control" th:field="*{password}" required
                minlength="6"/>
            </div>

            <label class="col-4 col-form-label">First Name </label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{firstName}" required />
            </div>

            <label class="col-4 col-form-label">Last Name </label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{lastName}" required />
            </div>

            <div>
                <button type="submit">Sign Up</button>
            </div>

        </div>
    </form>
</div>

</body>
</html>